@font-face { font-family: Modern_Sans; src: url('/static/fonts/Modern_Sans_Light.otf'); }

.cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

.filler {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 5vh;
    background-color: rgb(40, 40, 40);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filler h3 {
    margin-left: 2vw;
    font-family: Modern_Sans; 
}

.filler a {
    float: right;
    background-color: #2196F3;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Modern_Sans;
}

.filler a:hover {
    background-color: #ddd;
    color: black;
    font-family: Modern_Sans;
}

.scores {
    border: 5px solid rgb(48,52,54);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

.score {
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
}

.score p{
    margin-left: 20px;
    font-family: Modern_Sans; 
}
