@font-face { font-family: Modern_Sans; src: url('/static/fonts/Modern_Sans_Light.otf'); }

.banner {
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    max-width: 80vw;
    color: white;
    margin-bottom: 25px;
}

.banner img {
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 80vw;
}

.banner h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Modern_Sans;
    font-size: 8vw;
}

@media screen and (max-width: 600px) {
    .banner h1 {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Modern_Sans;
        font-size: 12vw;
    }
}

.bounty {
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.cover {
    width: 325px;
    height: 325px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.cover img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
