{% if error != 'None' %}
    <div class="error" id="noti"><h2>{{error}}</h2><button onclick="closeNoti()">X</button></div>
    <script> 
    function closeNoti() { 
        var Noti = document.getElementById("noti");
        Noti.style.display = "none";
    } 
    </script>
{%endif%}
{% extends 'base.html' %}
{% block head %}
    <title>strona - Homepage</title>
    <link rel="stylesheet" href="/static/index.css">
{% endblock %}
{% block content %}
<div class="banner">
    <img src="{{path['banner']}}">
    <h1>osu!sniper</h1>
</div>
<div class="bounty">
    {%for i in bounty%}
        <div class="cover">
            <a href="/bounty/{{i.bid}}"><img src={{i.cover_url}}></a>
        </div>
    {%endfor%}
</div>     
{% endblock %}